<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admins page</title>
</head>
<body>
<div>
    <table th:border="1">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername}"></td>
            <td th:text="${user.getEmail}"></td>
            <td th:text="${user.getRoles()}"></td>
            <td class="buttons">
                <form th:method="GET" th:action="@{admin/{id}/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit">
                </form>
                <form th:method="DELETE" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <br/>
    <form th:action="@{/admin/new}">
        <input type="submit" value="Create new user">
    </form>
    <br/>
    <hr/>
    <br/>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>